

<%= turbo_frame_tag "lorem" do %>
  <turbo-stream action="update" target="lorem">
    <template>
        <p>
            <%= @lorem %>
        </p>
    </template>    
  </turbo-stream>

  <turbo-stream action="update" target="lorem0">
    <template>
      <h2> Welcome to Turbo Example !</h2>
    </template>    
  </turbo-stream>

<% end %>


